Repository jzamd0/express-todo-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat: add flash alerts to pages
  app.js
  config/passport.js
  routes/auth.js
  views/alert.pug
  views/login.pug
  views/signup.pug
Due: prettier --write, eslint --fix

fix: return done when creating a user in passport sign up function
  config/passport.js
Due: prettier --write, eslint --fix

feat: add account and note templates to app
  routes/main.js
  views/account.pug
  views/index.pug
  views/note.pug
Due: prettier --write, eslint --fix

feat: add commitlint to husky to run before commiting
  .husky/commit-msg
Due: none

feat: change css background gradient for templates
  static/css/styles.css
Due: prettier --write

feat: add readme file to project
  README.md
Due: none

feat: add changes to ESLint and Prettier config files
  .eslintrc.json
  .prettierignore
  .prettierrc.json
  validators/validators.js
Due: prettier --write, eslint --fix

fix: find notes only from the logged user
  routes/main.js
  views/index.pug
Due: prettier --write, eslint --fix

feat: add confirmation dialog when deleting a note or account
  views/account.pug
  views/base.pug
  views/index.pug
Due: none

feat: implement change user password
  routes/main.js
  validators/validators.js
Due: prettier --write, eslint --fix

refactor: change passport flash messages
  config/passport.js
Due: prettier --write, eslint --fix

feat: show multiple flash messages
  validators/validators.js
  views/alert.pug
Due: prettier --write, eslint --fix

fix: add await to async functions on main routes
  routes/main.js
Due: prettier --write, eslint --fix

feat: validate length of text fields
  validators/validators.js
Due: prettier --write, eslint --fix

feat: implement delete user account
  routes/main.js
  views/account.pug
Due: prettier --write, eslint --fix

feat: implement add, edit, and delete notes
  models/note.js
  models/user.js
  package-lock.json
  package.json
  routes/main.js
  views/index.pug
  views/note.pug
Due: prettier --write, eslint --fix

feat: add error handler for page not found
  app.js
  config/passport.js
  routes/error.js
  routes/main.js
  views/error.pug
Due: prettier --write, eslint --fix

feat: add NPM script to format with Prettier and ESLint
  .prettierrc.json
  package.json
Due: none

feat: add middleware to validate forms
  routes/auth.js
  validators/validators.js
Due: prettier --write, eslint --fix

feat: add screenshots to README
  README.md
  screenshots/home.png
  screenshots/note.png
Due: none

Path conditions:
  prettier --write: (any of: *.{js,jsx}) or (any of: *.{html,css,less,ejs})
  eslint --fix: any of: *.{js,jsx}
